.inner{
    width: 100%;
}

.lesarticles {
	display: flex;
	flex-wrap: wrap;

	> div {
		width: 50%;
	}

}

.articles{
    border-radius: 50%;
    display: flex;
    flex-direction: row;    
}

.titre{
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.text{
    text-align: center;
}







