$margin : auto;
$display : flex;
$direction1 : row;
$direction2 : column;
$max : 100%;
$moyen : 50%;
$min : 0;
$screen1 : 420px;
$screen2 : 768px;
$screen3 : 1280px;

*{
    margin: $min;
    padding: $min;
}

.inner{
    width: $max;
}

.photos{
    display: $display;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: $screen1){
    .inner{
        width: $screen1;
        margin: $min $margin;
    }
}

@media screen and (min-width: $screen2){
    .inner{
        width: $screen2;
    }
}

@media screen and (min-width: $screen3){
    .inner{
        width: $screen3;
    }
}

.presentation 
{
    display: $display ;
    flex-direction: $direction1;
    width: $max;
    .presentation-logo
    {
        width: $moyen;
        .logo
        {
            display: $display ;
            margin-left: $margin;
            margin-right: $margin;     
        }
    }
    .presentation-bouton
    {
        width: $moyen;
        align-items: center;
        .bouton
        {
            display: $display ;
            margin-left: $margin;
            margin-right: $margin;
        }
    }
}

.articles{
    border-radius: $moyen;
    //width: 30%;
}

.titre{
    text-align: center;
    font-weight: bold;
}

.text{
    text-align: center;
}









