*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("../background.jpg");
    background-size: cover;    
    height: 555px;
    position: relative;
    background-position-x: center;
    .slogan{
        position: absolute;
        bottom: 8px;
        left: 16px;
        font-size: 18px;      
    }
}

.text{
    text-align: justify;
}




